<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex w-full items-center relative">
                    <div class="absolute w-full h-full z-0 top-0 left-0">
                        <video class="w-full h-full object-cover weather-video" autoplay loop [src]="'/assets/videos/weather/'+weatherType+'.mp4'"></video>
                    </div>
                    <div class="flex flex-auto items-center justify-center min-w-0 z-10">
                        <div class="flex flex-col min-w-0 ml-4">
                            <ng-container *transloco="let t">
                                <div
                                    class="text-2xl md:text-5xl text-white font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                    {{t(this.greeting)}}, {{name}}!

                                </div>
                            </ng-container>
                        </div>
                        <div class="flex flex-col min-w-0 ml-4">
                            <ng-container>
                                <div
                                    class="text-2xl md:text-5xl text-white font-semibold tracking-tight leading-7 md:leading-snug">
                                    {{greeting}}, {{name}}!

                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!-- <div *ngIf="weatherData" class="weather" [ngClass]="{'rainy': isRaining()}"> -->
                    <div class="z-10 w-1/2" *ngIf="weatherData" [ngClass]="{'rainy': isRaining(), 'sunny': !isRaining()}">

                        <div *ngIf="isRaining()">
                            <div *ngIf="weatherData" class="weather">

                                <div class="py-4 my-4">
                                    <p class="text-4xl font-bold hidden text-gray-100">{{
                                        weatherData?.hourly?.time[date.getHours()].split('T')[0]
                                        }}</p>
                                    <p class="text-[25px] font-normal text-gray-100">{{days[date.getDay()]}}</p>
                                    <p class="text-[40px] font-normal leading-none text-gray-100">{{
                                        weatherData?.hourly?.temperature_2m?.[date.getHours()] }}°C
                                    </p>
                                    <p class="text-[25px] font-normal text-gray-100"> {{ weatherData?.location?.address?.city }}</p>
                                </div>
                            </div>
                            <div *ngIf="!weatherData" class="weather">
                                <p class="text-2xl font-bold pt-1 text-gray-100">
                                    Bitte aktivieren Sie den Standortdienst, um Wetterdaten zu erhalten
                                </p>
                            </div>
                        </div>

                        <!-- Sunny background -->
                        <div *ngIf="!isRaining()">

                            <div *ngIf="weatherData" class="weather">
                                <div class="py-4 my-4 pr-6 flex items-center flex-col-reverse">
                                    <p class="text-4xl hidden font-bold text-gray-100">{{
                                        weatherData?.hourly?.time[date.getHours()].split('T')[0]
                                        }}</p>
                                    <p class="text-[25px] font-normal text-gray-100">{{days[date.getDay()]}}</p>
                                    <p class="text-[40px] font-normal leading-none text-gray-100">{{
                                        weatherData?.hourly?.temperature_2m?.[date.getHours()] }}°C
                                    </p>
                                    <p class="text-[25px] font-normal text-gray-100"> {{ weatherData?.location?.address?.city }}</p>
                                </div>
                            </div>
                            <div *ngIf="!weatherData" class="weather">
                                <p class="text-2xl font-bold pt-1 text-gray-100">
                                    Bitte aktivieren Sie den Standortdienst, um Wetterdaten zu erhalten
                                </p>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Project selector calls/recommended files/important emails/upcoming appointments/time sheets
            <div
                class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
                matRipple
                >
                <div class="flex items-center">
                    <div class="overflow-hidden">
                        <div class="font-medium leading-6 truncate">Calling Center | Dashboard</div>
                    </div>
                    <div class="flex items-center justify-center pl-2">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                    </div>
                </div> -->
            </div>



            <div>

                <nav mat-tab-nav-bar *ngIf="show" class="mb-6 border-bottom-0">
                    <div mat-tab-link [ngClass]="selectedTab === 'home'? 'border-b-sky-400' : ''"
                        class="text-black  opacity-100 border-b-2 border-black-500" (click)="selectedTab = 'home'">
                        <mat-icon svgIcon="heroicons_outline:home" class="mr-2"></mat-icon> <a>Home</a>
                    </div>
                    <div mat-tab-link class="text-black opacity-100 border-b-2 border-black-500"
                        [ngClass]="selectedTab === 'analytics'? 'border-b-sky-400' : ''" routerLinkActive
                        #ala="routerLinkActive" [active]="ala.isActive" *ngIf="showAnalytics"
                        (click)="selectedTab = 'analytics'">
                        <mat-icon svgIcon="heroicons_outline:chart-pie" class="mr-2"></mat-icon> <a
                            i18n="@@dashboard.analytics">Analytics</a>
                    </div>
                    <div mat-tab-link class="text-black opacity-100 border-b-2 border-black-500" routerLinkActive
                        #fla="routerLinkActive" [active]="fla.isActive" *ngIf="showFinance"
                        [ngClass]="selectedTab === 'finance'? 'border-b-sky-400' : ''"
                        (click)="selectedTab = 'finance'">
                        <mat-icon svgIcon="heroicons_outline:cash" class="mr-2"></mat-icon> <a
                            i18n="@@dashboard.finance">Financing</a>
                    </div>
                    <!-- Team -->
                    <div mat-tab-link [ngClass]="selectedTab === 'teams'? 'border-b-sky-400' : ''"
                        class="text-black opacity-100 border-b-2 border-black-500" (click)="selectedTab = 'teams'"
                        *ngIf="showTeams">
                        <mat-icon svgIcon="heroicons_outline:user-group" class="mr-2"></mat-icon>
                        <a i18n="@@dashboard.teams">Teams</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div [ngSwitch]="selectedTab">
        <div class="flex-auto border-t -mt-px pt-4 sm:pt-6 bg-gray-100 p-6" *ngSwitchCase="'home'">
            <div class="w-full  mx-auto">
                <!-- Content -->
                <div class="main_grid_div flex md:grid md:grid-cols-4">
                    <!-- Calls -->
                    <div
                        class="flex flex-col-reverse p-6 bg-card shadow rounded-2xl overflow-hidden justify-center items-center h-40 grid_icon">
                        <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                            <div class="truncate h6 text-center">Notfall</div>

                        </div>
                        <div class="flex flex-col items-center phone_icon w-full h-full">
                            <div class="flex flex-col items-center mt-2 mb-3 w-full h-full">
                                <mat-icon mat-card-avatar>phone</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div routerLink="/dashboard/call"
                        class="flex flex-col-reverse p-6 bg-card shadow rounded-2xl cursor-pointer overflow-hidden justify-center items-center h-40 grid_icon">
                        <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                            <div class="truncate h6 text-center">Videotelefonie</div>
                        </div>
                        <div class="flex flex-col items-center phone_icon  w-full h-full">
                            <div class="flex flex-col items-center mt-2 mb-3 w-full h-full">
                                <mat-icon matChipAvatar>videocam</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div [routerLink]="['/dashboard/contacts/']" [queryParams]="{type: 'Interpreter'}"
                        class="flex flex-col-reverse p-6 bg-card shadow rounded-2xl overflow-hidden cursor-pointer justify-center items-center h-40 grid_icon">
                        <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                            <div class="truncate h6 text-center">ÖGS-DolmetscherIn</div>

                        </div>
                        <div class="flex flex-col items-center  phone_icon  w-full h-full">
                            <div class="flex flex-col items-center mt-2 mb-3  w-full h-full">
                                <mat-icon matChipAvatar>video_camera_front</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div [routerLink]="['/dashboard/contacts/']" [queryParams]="{type: 'Captioner'}"
                        class="flex flex-col-reverse p-6 bg-card shadow rounded-2xl overflow-hidden cursor-pointer justify-center items-center h-40 grid_icon">
                        <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                            <div class="truncate h6 text-center">SchriftdolmetscherIn</div>

                        </div>
                        <div class="flex flex-col items-center phone_icon  w-full h-full">
                            <div class="flex flex-col items-center mt-2 mb-3 w-full h-full">
                                <mat-icon matChipAvatar>voice_chat</mat-icon>
                            </div>
                        </div>
                    </div>


                    <div class="col-span-4 md:col-span-4 lg:col-span-2 middele_sec_dashboard">
                        <div>

                            <div class="col-span-4 md:col-span-2">
                                <div class="flex flex-col">
                                    <div class="flex inside_custom_card">
                                        <div
                                            class="flex flex-col-reverse w-[50%] opacity-70 p-6 bg-card shadow rounded-2xl overflow-hidden justify-center items-center h-40">
                                            <div
                                                class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                                <div class="break-words h6 text-center">Kommunikationsassistenz</div>

                                            </div>
                                            <div class="flex flex-col items-center w-full h-full">
                                                <div
                                                    class="flex flex-col items-center mt-2 mb-3  phone_icon  w-full h-full">
                                                    <mat-icon matChipAvatar>support_agent</mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- files -->
                                        <div class="flex flex-col flex-auto overflow-hidden w-[50%]">
                                            <div class=" " routerLink="dashboard/files">
                                                <ng-container>
                                                    <div class="relative  h-40 p-4 shadow rounded-2xl bg-card">
                                                        <a class="absolute z-20 top-1.5 right-1.5 w-8 h-8 min-h-8"
                                                            (click)="$event.preventDefault()" mat-icon-button>
                                                            <mat-icon class="icon-size-5"
                                                                [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                                                        </a>
                                                        <a
                                                            class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer">
                                                            <div class="aspect-[9/6]">
                                                                <div class="flex items-center justify-center h-full">
                                                                    <!-- Icon -->
                                                                    <mat-icon class="icon-size-14 text-hint opacity-50"
                                                                        [svgIcon]="'heroicons_solid:folder'"></mat-icon>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                                                <div class="truncate">Persönlich</div>
                                                                <ng-container>
                                                                    <div class="text-secondary truncate">27 Dateien
                                                                    </div>
                                                                </ng-container>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <div class="justify-between grid grid-cols-2 gap-5 mobile_full_main">
                                            <ng-container *ngIf="contacts">
                                                <ng-container *ngIf="contacts.length; else noContacts">
                                                    <ng-container
                                                        *ngFor="let contact of contacts; let i = index; trackBy: trackByFn">
                                                        <!-- Contact -->
                                                        <!-- card-format -->
                                                        <div class="mobile_full col-span-2 sm:col-span-1 h-72">
                                                            <div
                                                                class="pt-3 overflow-hidden rounded-lg shadow-lg bg-white d-flex flex-col justify-center items-center text-center">
                                                                <ng-container *ngIf="contact.avatar">
                                                                    <img class="object-cover rounded-full w-40"
                                                                        [src]="contact.avatar" alt="Contact avatar" />
                                                                </ng-container>
                                                                <ng-container *ngIf="!contact.avatar">
                                                                    <div
                                                                        class="flex items-center w-40 h-40 rounded-full justify-center text-6xl uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                                        {{contact.name.charAt(0)}}
                                                                    </div>
                                                                </ng-container>
                                                                <div class="w-full bottom_card">
                                                                    <h5 class="text-gray-900 text-xl font-medium mb-2">
                                                                        {{contact.name}}
                                                                    </h5>
                                                                    <p class="text-gray-700 text-base mb-8">
                                                                        {{contact.title}}</p>
                                                                    <div class="d-flex border-t-2 justify-between">
                                                                        <div
                                                                            class="d-flex items-center py-2 px-3 border-r-2 justify-center custom_card">
                                                                            <button class="d-flex align-center">
                                                                                <mat-icon
                                                                                    class="text-xl">email</mat-icon>
                                                                                <span
                                                                                    class="pl-2 text-base">Email</span>
                                                                            </button>
                                                                        </div>

                                                                        <div
                                                                            class="d-flex items-center py-2 px-3 justify-center custom_card">
                                                                            <button class="d-flex align-center">
                                                                                <mat-icon
                                                                                    class="text-xl">phone</mat-icon>
                                                                                <span
                                                                                    class="pl-2 text-base">Anrufen</span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- schedule -->
                    <div
                        class="sm:col-span-4 md:col-span-4 lg:col-span-2 col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-y-scroll h-[32rem]">
                        <div class="flex flex-col sm:flex-row items-start justify-between">
                            <button mat-stroked-button [routerLink]="['./appointments']">Termine</button>
                            <div class="mt-3 sm:mt-0 sm:ml-2">
                                <mat-button-toggle-group value="today" #scheduleDaySelector="matButtonToggleGroup">
                                    <mat-button-toggle value="today">Heute</mat-button-toggle>
                                    <mat-button-toggle value="tomorrow">Anstehend</mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                        <div class="flex flex-col mt-2 divide-y">
                            <ng-container *ngFor="let appointmentData of storedAppointmentData">
                                <div class="flex flex-row items-center justify-between py-4 px-0.5">
                                    <div class="flex flex-col">
                                        <div class="font-medium">{{appointmentData.topic}}</div>
                                        <div
                                            class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                                            <ng-container *ngIf="appointmentData.startTime">
                                                <div class="flex items-center">
                                                    <mat-icon class="icon-size-5 text-hint"
                                                        [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                                    <div class="ml-1.5 text-md text-secondary">
                                                        {{appointmentData.startTime}}
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngIf="appointmentData.location">
                                                <div class="flex items-center">
                                                    <mat-icon class="icon-size-5 text-hint"
                                                        [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                                                    <div class="ml-1.5 text-md text-secondary">
                                                        {{appointmentData.location}}
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngIf="appointmentData.startDate">
                                                <div class="flex items-center">
                                                    <mat-icon class="icon-size-5 text-hint"
                                                        [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                                    <div class="ml-1.5 text-md text-secondary">{{
                                                        appointmentData.startDate | date }}</div>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngIf="appointmentData.endTime">
                                                <div class="flex items-center">
                                                    <mat-icon class="icon-size-5 text-hint"
                                                        [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                                    <div class="ml-1.5 text-md text-secondary">
                                                        {{appointmentData.endTime}}
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="appointmentData.endDate">
                                                <div class="flex items-center">
                                                    <mat-icon class="icon-size-5 text-hint"
                                                        [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                                    <div class="ml-1.5 text-md text-secondary">{{
                                                        appointmentData.endDate | date }}</div>
                                                </div>
                                            </ng-container>

                                            <!-- <ng-container *ngIf="appointmentData.address">
                                                <div class="flex items-center">
                                                    <mat-icon class="icon-size-5 text-hint"
                                                        [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                                    <div class="ml-1.5 text-md text-secondary">{{
                                                        appointmentData.address }}</div>
                                                </div>
                                            </ng-container> -->

                                        </div>
                                    </div>
                                    <button mat-icon-button>
                                        <mat-icon [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!-- Recent transactions table -->
                    <!-- <div
                        class="xl:col-span-4 col-span-4 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="p-6">
                            <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">neueste
                                Uberweisungen
                            </div>
                            <div class="text-secondary font-medium">1 ausstehend 4 abgeschlossen</div>
                        </div>
                        <div class="overflow-x-auto mx-6">
                            <table class="w-full bg-transparent" mat-table matSort
                                [dataSource]="recentTransactionsDataSource" [trackBy]="trackByFn"
                                #recentTransactionsTable> -->

                    <!-- Transaction ID -->
                    <!-- <ng-container matColumnDef="transactionId">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        UberweisungensID
                                    </th>
                                    <td mat-cell *matCellDef="let transaction">
                                        <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                            {{transaction.transactionId}}
                                        </span>
                                    </td>
                                </ng-container> -->

                    <!-- Date -->
                    <!-- <ng-container matColumnDef="date">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Datum
                                    </th>
                                    <td mat-cell *matCellDef="let transaction">
                                        <span class="pr-6 whitespace-nowrap">
                                            {{transaction.date | date:'dd MM, YYYY'}}
                                        </span>
                                    </td>
                                </ng-container> -->

                    <!-- Name -->
                    <!-- <ng-container matColumnDef="name">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Name
                                    </th>
                                    <td mat-cell *matCellDef="let transaction">
                                        <span class="pr-6 whitespace-nowrap">
                                            {{transaction.name}}
                                        </span>
                                    </td>
                                </ng-container> -->

                    <!-- Amount -->
                    <!-- <ng-container matColumnDef="amount">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Betrag
                                    </th>
                                    <td mat-cell *matCellDef="let transaction">
                                        <span class="pr-6 font-medium whitespace-nowrap">
                                            {{transaction.amount | currency:'USD'}}
                                        </span>
                                    </td>
                                </ng-container> -->

                    <!-- Status -->
                    <!-- <ng-container matColumnDef="status">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let transaction">
                                        <span
                                            class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                            [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': transaction.status === 'ausstehend',
                                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': transaction.status === 'abgeschlossen'}">
                                            <span
                                                class="leading-relaxed whitespace-nowrap">{{transaction.status}}</span>
                                        </span>
                                    </td>
                                </ng-container> -->

                    <!-- Footer -->
                    <!-- <ng-container matColumnDef="recentOrdersTableFooter">
                                    <td class="py-6 px-0 border-0" mat-footer-cell *matFooterCellDef colspan="6">
                                        <button mat-stroked-button>Sehe alle Uberweisungen</button>
                                    </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="recentTransactionsTableColumns"></tr>
                                <tr class="order-row h-16" mat-row
                                    *matRowDef="let row; columns: recentTransactionsTableColumns;"></tr>
                                <tr class="h-16 border-0" mat-footer-row *matFooterRowDef="['recentOrdersTableFooter']">
                                </tr>
                            </table>
                        </div>
                    </div> -->
                    <!-- Recent transactions table -->

                    <!-- List of Clients -->
                    <div *ngIf="role === 'manager' || role === 'admin'"
                        class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex items-start justify-between">
                            <mat-icon mat-card-avatar>person</mat-icon>
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Liste Kunden</div>
                            <div class="ml-2 -mt-2 -mr-3">
                            </div>
                        </div>
                        <div class="flex flex-col items-center mt-2">
                            <mat-list>
                                <mat-list-item *ngFor="let client of clients">
                                    <mat-icon mat-list-icon>person</mat-icon>
                                    <div mat-line>{{client.name}}</div>
                                    <div mat-line> {{client.date | date}} </div>
                                </mat-list-item>
                            </mat-list>

                            <div class="flex flex-col items-center" *ngIf="!clients">
                                <h6 class="font-medium text-secondary">Keine Kunden</h6>
                            </div>

                        </div>
                    </div>

                    <!-- Fav. Employees -->
                    <div *ngIf="role === 'manager' || role === 'admin'"
                        class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex items-start justify-between">
                            <mat-icon mat-card-avatar>person</mat-icon>
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Favorisierte
                                Mitarbeiter
                            </div>
                            <div class="ml-2 -mt-2 -mr-3">
                            </div>
                        </div>
                        <div class="flex flex-col items-center mt-2">
                            <mat-list>
                                <mat-list-item *ngFor="let employee of employees">
                                    <mat-icon mat-list-icon>person</mat-icon>
                                    <div mat-line>{{employee.name}}</div>
                                    <div mat-line> {{employee.date | date}} </div>
                                </mat-list-item>
                            </mat-list>
                            <div class="flex flex-col items-center" *ngIf="!employees">
                                <h6 class="font-medium text-secondary">Keine Mitarbeiter</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 -mt-px p-6 pt-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0"
                *ngSwitchCase="'teams'">
                <ng-container *ngFor="let member of data.teamMembers">
                    <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">
                        <!-- Avatar & Info -->
                        <div class="flex flex-col flex-auto w-full p-8 text-center">
                            <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                                <img class="w-full h-full object-cover" [src]="member.avatar">
                            </div>
                            <div class="mt-6 font-medium">{{member.name}}</div>
                            <div class="text-secondary">{{member.title}}</div>
                        </div>
                        <!-- Email & Phone -->
                        <div class="flex items-center w-full border-t divide-x">
                            <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                [href]="'mailto:' + member.email">
                                <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                <span class="ml-2">Email</span>
                            </a>
                            <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                [href]="'tel:' + member.phone">
                                <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                <span class="ml-2">Anrufen</span>
                            </a>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div *ngSwitchCase="'analytics'">
            <app-analytics></app-analytics>
        </div>
        <div *ngSwitchCase="'finance'">
            <app-finance></app-finance>
        </div>
        <div class="grid grid-cols-1 -mt-px p-6 pt-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0"
            *ngSwitchCase="'teams'">

            <ng-container *ngFor="let member of teamMembers">
                <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">
                    <!-- Avatar & Info -->
                    <div class="flex flex-col flex-auto w-full p-8 text-center">
                        <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                            <img class="w-full h-full object-cover" [src]="member.profilePhoto">
                        </div>
                        <div class="flex">
                            <div>
                                <h1 class="font-medium text-xl">{{ member.firstName }}</h1>
                            </div>
                            <div>
                                <h1 class="text-secondary px-2 text-xl">{{ member.lastName }}</h1>
                            </div>
                        </div>

                    </div>

                    <div>
                        <h2 class="text-secondary text-xl pb-1">
                            {{member.userRole}}
                        </h2>
                    </div>
                    <div class="flex items-center w-full border-t divide-x">
                        <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            [href]="'mailto:' + member.email">
                            <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            <span class="ml-2">Email</span>
                        </a>
                        <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                            [href]="'tel:' + member.phoneNo">
                            <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            <span class="ml-2">Anrufen</span>
                        </a>
                    </div>
                </div>

            </ng-container>
        </div>
    </div>
</div>