<div class="absolute inset-0 flex flex-col min-w-0 overflow-auto">

    <div class="flex-auto h-full bg-card dark:bg-transparent">


        <div class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto">

                <!-- Header -->
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-between py-8 px-6 md:px-8 border-b">
                    <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 bg-card dark:bg-transparent">
                        <div>
                            <!-- Title -->
                            <div class="text-4xl font-extrabold tracking-tight leading-none">Contacts</div>
                            <div class="ml-0.5 font-medium text-secondary">
                                <ng-container *ngIf="contacts !== undefined && contacts.length > 0">
                                    {{contacts.length}}
                                </ng-container>
                                {{contacts.length | i18nPlural: {
                                '=0' : 'No contacts',
                                '=1' : 'contact',
                                'other': 'contacts'
                                } }}
                            </div>
                        </div>
                        <div class="mt-4 sm:mt-0">
                            <button (click)="gridViewClicked()"><mat-icon svgIcon="heroicons_outline:view-grid"></mat-icon></button>
                            <button (click)="listViewClicked()"><mat-icon svgIcon="heroicons_outline:view-list"></mat-icon></button>
                        </div>
                    </div>
                </div>
                
                <!-- Contacts list -->
                <div class="mt-10">
                    <div class="flex flex-grid">
                        <ng-container *ngIf="contacts">
                            <ng-container *ngIf="contacts.length; else noContacts">
                                <div #divComponent class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0 ng-star-inserted">
                                    <ng-container *ngFor="let contact of contacts; let i = index; trackBy: trackByFn">
                                        <!-- Contact -->
                                        <app-contacttumb [item]="contact"></app-contacttumb>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>

                        <!-- No contacts -->
                        <ng-template #noContacts>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                                contacts!</div>
                        </ng-template>

                    </div>
                </div>

            </div>

        </div>

    </div>

